.card {
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
}

.price {
  font-weight: bold;
  margin: 8px 0;
}

.rating {
  margin-bottom: 8px;
}

.share {
  display: flex;
  gap: 8px;
  margin-top: 9px;
}
